@{
    ViewBag.Title = "About";
    ViewBag.Message = "Paul Massonic's Winery";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to The Mountain Winery in Saratoga, California. We are dedicated to preserving the Mountain Winery's history and restoring the property to its magnificent glory for the enjoyment of all. We are very proud to continue the tradition started by Paul Massonic, and our committed team takes personal pride in creating innovative and memorable experiences for our guests. Note, if you do not know the secret Mosonic handshakes, you will be asked to leave with extreme prejudice! <br/>
    Have a great time.</p>
<h2>Spectacular Mountain Winery</h2>
<img src="~/Images/WineryBuildingFront.jpg" alt="Mountain View" style="width:304px;height:228px;">