@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paul Massonic's Winery<br />
    123 Wine Ln<br/>
    Saratoga, CA 95070<br />
    <abbr title="Phone">P:</abbr>
    408.555.0100
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:Sales@example.com">Sales@example.com</a><br />
    <strong>Alcoholic Support:</strong> <a href="mailto:Drunk@example.com">Drunk@example.com</a>
</address>