@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paul Massonic's Winery <img src="~/Images/PaulMasonic.jpg" alt="Paul Masonic's Winery'" style="width:152px;height:114px;"></h1>
    <p class="lead">Paul Massonic's Winery is a place where Freemason can come to relax and enjoy a glass of wine, hear a concert, while planning and promoting the New World Order.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Great Wine</h2>
        <p>Taking over the world is hard work.  Members come here to enjoy a relaxing glass of wine. It also is great to through off suspicions of our enemies.
        </p>
        <p><img src="~/Images/3wines.jpg" alt="3 Glasses of Wine"  style="width:304px;height:228px;"></p>
    </div>
    <div class="col-md-4">
        <h2>Amazing Concert Venue</h2>
        <p>A great way to recruit new members it though our Concert Serries. Our variety of artist help us recruit from every aspects of society.</p>
        <p><img src="~/Images/ThankYou660x430-d4cda3e5af.jpg" alt="Paul Masonic's Concert'" style="width:304px;height:228px;"></p>
    </div>
    <div class="col-md-4">
        <h2>New World Order</h2>
        <p>The plan is moving at an amazing pace in the United States. Thanks to everyone that has supported us knowingly and unkowingly.</p>
        <p> <img src="~/Images/PaulMasonic.jpg" alt="Freemasons" style="width:304px;height:228px;"></p>
    </div>
</div>